.body{
    background-color: darkseagreen;
    width: 100%;
}
.main1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 50px;
   
    
    

}

.item{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
   padding: 25px;
}

.one{
    background-color: aqua;
}

.two{
    background-color: black;
}
.three{
    background-color: blueviolet;
}
.four{
    background-color: brown;
}

.main2{
    display: flex;
    margin-top: 15px;
    margin-bottom: 50px;
    
}
img{
    height: 250px;
    width: 400px;
    border-radius: 10px;
}

.text{
    font-weight: 300;
    font-size: 25px;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 65px;
    margin-left: 10px;
}

.five{
    background-color: crimson;
}
.six{
    background-color: cyan;
}

.seven{
    background-color: darkgreen;
}

.eight{
    background-color: darkorange;
}

ul{
    background-color: blue;
    overflow: hidden;
    list-style-type: none;
    margin-top: -8px;
    height: 52px;
    overflow: hidden;
    margin-left: 0px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
}

li{
   float: right;  
}

li a{
    padding: 16px;
    display: block;
    color: white; 
    font-size: auto;
    text-decoration: none;
}


ul img{
    height: 50px;
    width: auto;
}

.alldiv{
    padding-top: 50px;
}

li a:hover{
    background-color: rgba(0, 255, 21, 0.589);
    border-radius: 15px;
}
